# .NET Core debug folders / Security Ignores
*.config
*.vs/
*debug/
*appsettings.*
*.props
*.targets
launchSettings.json
*assets.json
*.cache
*.db

# Random other ignores that might end up in here
*.png
*.jpeg
*.jpg