# .NET Core debug folders / Security Ignores
*.config
*.vs/
*debug/
*appsettings.json
*.props
*.targets
launchSettings.json
*assets.json
*.cache
*.db
*SystemVariables.cs

# Release Files & folders
*Release/
*.pubxml*
*.user
*.exe

# Random other ignores that might end up in here
*.png
*.jpeg
*.jpg

# Mac files
*.DS_Store
*._DS_Store
*.log