name: ASP.NET Core CI

on:
  pull_request:
    branches:
    - dev
    - master


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore NuGet Packages
      run: dotnet restore "API/ThriveChurchOfficialAPI/ThriveChurchOfficialAPI.sln"
    - name: Build with dotnet
      run: dotnet build -c Release "API/ThriveChurchOfficialAPI/ThriveChurchOfficialAPI.sln"